// Quick Settings: Move edited variables here
// ----------------------------------------------------------------------------/
@background-color: #edeff2;
@font-color: #333;
@primary: #148f6a;
@primary-hover: lighten(@primary, 5%);
@secondary: #22272e;


// Import custom modules or start writing your modules here
// ----------------------------------------------------------------------------/
@import "modules/grid";
@import "modules/colors";
@import "modules/plan-card";
@import "modules/scrollers";
@import "modules/sections";
@import "modules/social-links";
@import "modules/slider";
@import "modules/social-font";


// Small Screen Breakpoint
// ----------------------------------------------------------------------------/
.small-screen () {
    // Add code for small screens
    .small-grid();
}


// Medium Screen Breakpoint
// ----------------------------------------------------------------------------/
.medium-screen () {
    // Add code for medium screens
    .medium-grid();
}


// Large Screen Breakpoint
// ----------------------------------------------------------------------------/
.large-screen () {
    // Add code for large screens
    .large-grid();
}
