.font-face("social"; "../fonts/social/");

[class^="social-"]:before {
    position: relative;
    display: inline-block;
    .font-size(@icon-font-size);
    font-family: "social";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    vertical-align: middle;
    .line-height(@icon-line-height, @base: @icon-font-size);
    text-transform: none;
    speak: none;
}

.social-behance:before {
  content: "\e000";
}
.social-dribbble:before {
  content: "\e001";
}
.social-dribbble-circled:before {
  content: "\e002";
}
.social-dropbox:before {
  content: "\e003";
}
.social-evernote:before {
  content: "\e004";
}
.social-facebook:before {
  content: "\e005";
}
.social-facebook-circled:before {
  content: "\e006";
}
.social-facebook-squared:before {
  content: "\e007";
}
.social-flattr:before {
  content: "\e008";
}
.social-flickr:before {
  content: "\e009";
}
.social-flickr-circled:before {
  content: "\e00a";
}
.social-github:before {
  content: "\e00b";
}
.social-github-circled:before {
  content: "\e00c";
}
.social-google-circles:before {
  content: "\e00d";
}
.social-gplus:before {
  content: "\e00e";
}
.social-gplus-circled:before {
  content: "\e00f";
}
.social-instagram:before {
  content: "\e010";
}
.social-lastfm:before {
  content: "\e011";
}
.social-lastfm-circled:before {
  content: "\e012";
}
.social-linkedin:before {
  content: "\e013";
}
.social-linkedin-circled:before {
  content: "\e014";
}
.social-mixi:before {
  content: "\e015";
}
.social-paypal:before {
  content: "\e016";
}
.social-picasa:before {
  content: "\e017";
}
.social-picture:before {
  content: "\e018";
}
.social-pinterest:before {
  content: "\e019";
}
.social-pinterest-circled:before {
  content: "\e01a";
}
.social-qq:before {
  content: "\e01b";
}
.social-rdio:before {
  content: "\e01c";
}
.social-rdio-circled:before {
  content: "\e01d";
}
.social-sina-weibo:before {
  content: "\e01e";
}
.social-skype:before {
  content: "\e01f";
}
.social-skype-circled:before {
  content: "\e020";
}
.social-soundcloud:before {
  content: "\e021";
}
.social-spotify:before {
  content: "\e022";
}
.social-spotify-circled:before {
  content: "\e023";
}
.social-stumbleupon:before {
  content: "\e024";
}
.social-stumbleupon-circled:before {
  content: "\e025";
}
.social-tumblr:before {
  content: "\e026";
}
.social-tumblr-circled:before {
  content: "\e027";
}
.social-twitter:before {
  content: "\e028";
}
.social-twitter-circled:before {
  content: "\e029";
}
.social-video:before {
  content: "\e02a";
}
.social-vimeo:before {
  content: "\e02b";
}
.social-vimeo-circled:before {
  content: "\e02c";
}
.social-vkontakte:before {
  content: "\e02d";
}
