// Theme Settings
// for the full list of variables check out variables-reference.less
// ============================================================================/


// Theme Colors
// ----------------------------------------------------------------------------/
@background-color: #edeff2;
@font-color: #333;

// branding
@primary: #148f6a;
@primary-hover: lighten(@primary, 5%);
@secondary: #22272e;
// @tertiary: #555;


// Typography
// ----------------------------------------------------------------------------/
// @font-family: @font-sans;
// @font-size: 16px;
@font-scale: clamp(1rem, 1vw, 1.25rem); 
// @line-height: 24px;


// Navigation
// ----------------------------------------------------------------------------/
@alpha-link-hover: @primary;
