[data-section] {
    padding-top: calc($leading * 3);
    padding-bottom: calc($leading * 4);
}

[data-section]:nth-child(even):not([data-section="special"]) {
    background-color: hsl(215, 15%, 90%);
}

[data-section="footer"] {
    position: relative;
    padding: calc($leading * 2) 0 $leading;
    background-color: hsl(0, 0%, 25%);
    color: hsl(215, 15%, 90%);

    :where(&) [data-anchor]:hover,
    [data-anchor]:active {
        color: #fff;
    }
}

[data-section="special"] {
    background-color: hsl(215, 15%, 20%);
    color: hsl(215, 15%, 90%);
    text-align: center;

    & h1,
    h2,
    h3 {
        color: hsl(215, 15%, 90%);
    }
}
