[data-section] {
    padding-bottom: 4.125rem;
    padding-top: 5.5rem;
}

[data-section]:nth-child(even):not(.marketing, [data-section~="small"]) {
    background-color: #dee2e7;
}

[data-section~="footer"] {
    position: relative;
    padding-bottom: 4.125rem;
    padding-top: 5.5rem;
    background-color: #404040;
    color: #edeff2;
}

[data-section~="small"] {
    padding-top: 1.375rem;
    background-color: #333;
    color: #edeff2;
}

[data-section~="marketing"] {
    background-color: #2d343d;
    color: #edeff2;
    text-align: center;
}
