.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #333;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    visibility: hidden;
}

.slide img {
    width: 100%;
    height: 100vh;
    cursor: default;
    object-fit: cover;
    object-position: center;
    backface-visibility: hidden;
}

.slide-content {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 0em 0.125em 0.3125em rgba(0, 0, 0, 0.6),
        0em 0em 0.3125em rgba(0, 0, 0, 0.5);
}

.slide-title {
    font-size: 10vw;
}

.slider-nav {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.prev-slide,
.next-slide {
    position: absolute;
    top: 80%;
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    line-height: 3.125;
    border: 0.125rem solid #fff;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
    border-radius: 100%;
}

.prev-slide {
    left: 2%;
}

.next-slide {
    right: 2%;
}

.prev-slide:hover,
.next-slide:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.prev-slide::before,
.next-slide::before {
    position: absolute;
    top: 35%;
    display: inline-block;
    width: 0.8125rem;
    height: 0.8125rem;
    content: "";
    border-left: 0.25rem solid white;
    border-top: 0.25rem solid white;
    backface-visibility: hidden;
}

.prev-slide::before {
    transform: rotate(-45deg);
    right: 32%;
}

.next-slide::before {
    transform: rotate(135deg);
    left: 32%;
}

@media screen and (max-width: 42.5em) {
    .prev-slide,
    .next-slide {
        border: 0 none;
    }
}
