@font-face {
    font-family: "social";
    src: url("/src/fonts/social/social.eot") format("eot"),
        url("/src/fonts/social/social.woff2") format("woff2"),
        url("/src/fonts/social/social.woff") format("woff"),
        url("/src/fonts/social/social.ttf") format("truetype"),
        url("/src/fonts/social/social.svg#social") format("svg");
}

[data-social]:before {
    content: attr(data-social);
    display: inline-block;
    font-family: "social";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    vertical-align: middle;
    text-transform: none;
}
