// Colors
// -----------------------------------------------------------------------------
.facebook,
.twitter,
.instagram,
.pinterest,
.linkedin {
	color:#fff;
}

.facebook {
	background-color: #314EA5;

	a&:hover,
	a&:focus,
	a&:active,
	.button&:hover,
	.button&:focus,
	.button&:active {
		background-color: lighten(#314EA5, 5%);
	}
}

.twitter {
	background-color: #55ACEF;

	a&:hover,
	a&:focus,
	a&:active,
	.button&:hover,
	.button&:focus,
	.button&:active {
		background-color: lighten(#55ACEF, 5%);
	}
}

.instagram {
	background-color: #EE4E33;

	a&:hover,
	a&:focus,
	a&:active,
	.button&:hover,
	.button&:focus,
	.button&:active {
		background-color: lighten(#EE4E33, 5%);
	}
}

.pinterest {
	background-color: #D2172E;

	a&:hover,
	a&:focus,
	a&:active,
	.button&:hover,
	.button&:focus,
	.button&:active {
		background-color: lighten(#D2172E, 10%);
	}
}

.linkedin {
	background-color: #0073CE;

	a&:hover,
	a&:focus,
	a&:active,
	.button&:hover,
	.button&:focus,
	.button&:active {
		background-color: lighten(#0073CE, 5%);
	}
}
