.font-face("social"; "../../../fonts/social/");

[data-social]:before {
  display: inline-block;
  font-size: 1em;
  font-family: social;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 0.625;
  vertical-align: middle;
  text-transform: none;
}

[data-social="behance"]:before {
  content: "\e000";
}
[data-social="dribbble"]:before {
  content: "\e001";
}
[data-social="dribbble-circled"]:before {
  content: "\e002";
}
[data-social="dropbox"]:before {
  content: "\e003";
}
[data-social="evernote"]:before {
  content: "\e004";
}
[data-social="facebook"]:before {
  content: "\e005";
}
[data-social="facebook-circled"]:before {
  content: "\e006";
}
[data-social="facebook-squared"]:before {
  content: "\e007";
}
[data-social="flattr"]:before {
  content: "\e008";
}
[data-social="flickr"]:before {
  content: "\e009";
}
[data-social="flickr-circled"]:before {
  content: "\e00a";
}
[data-social="github"]:before {
  content: "\e00b";
}
[data-social="github-circled"]:before {
  content: "\e00c";
}
[data-social="google-circles"]:before {
  content: "\e00d";
}
[data-social="gplus"]:before {
  content: "\e00e";
}
[data-social="gplus-circled"]:before {
  content: "\e00f";
}
[data-social="instagram"]:before {
  content: "\e010";
}
[data-social="lastfm"]:before {
  content: "\e011";
}
[data-social="lastfm-circled"]:before {
  content: "\e012";
}
[data-social="linkedin"]:before {
  content: "\e013";
}
[data-social="linkedin-circled"]:before {
  content: "\e014";
}
[data-social="mixi"]:before {
  content: "\e015";
}
[data-social="paypal"]:before {
  content: "\e016";
}
[data-social="picasa"]:before {
  content: "\e017";
}
[data-social="picture"]:before {
  content: "\e018";
}
[data-social="pinterest"]:before {
  content: "\e019";
}
[data-social="pinterest-circled"]:before {
  content: "\e01a";
}
[data-social="qq"]:before {
  content: "\e01b";
}
[data-social="rdio"]:before {
  content: "\e01c";
}
[data-social="rdio-circled"]:before {
  content: "\e01d";
}
[data-social="sina-weibo"]:before {
  content: "\e01e";
}
[data-social="skype"]:before {
  content: "\e01f";
}
[data-social="skype-circled"]:before {
  content: "\e020";
}
[data-social="soundcloud"]:before {
  content: "\e021";
}
[data-social="spotify"]:before {
  content: "\e022";
}
[data-social="spotify-circled"]:before {
  content: "\e023";
}
[data-social="stumbleupon"]:before {
  content: "\e024";
}
[data-social="stumbleupon-circled"]:before {
  content: "\e025";
}
[data-social="tumblr"]:before {
  content: "\e026";
}
[data-social="tumblr-circled"]:before {
  content: "\e027";
}
[data-social="twitter"]:before {
  content: "\e028";
}
[data-social="twitter-circled"]:before {
  content: "\e029";
}
[data-social="video"]:before {
  content: "\e02a";
}
[data-social="vimeo"]:before {
  content: "\e02b";
}
[data-social="vimeo-circled"]:before {
  content: "\e02c";
}
[data-social="vkontakte"]:before {
  content: "\e02d";
}
