// Social Links
// ----------------------------------------------------------------------------/

.social-links {
	position: relative;
	.top(-9px);
	float: right;
	margin: 0;

	li,
	a {
		float: left;
		display: block;
	}

	a {
		.padding();
		color: @background-color;

		&:hover,
		&:active {
			color: @primary;
			text-decoration: none;
		}
	}
}

// Small Grid
// ----------------------------------------------------------------------------/
@media screen and (max-width: @breakpoint-small-max) {
	.social-links {
		float: left;
	}
}
