// Position
// ----------------------------------------------------------------------------/
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.fixed-top();

.top {
    top: 0;
    z-index: 1000;
}

.bottom {
    bottom: 0;
    z-index: 1000;
}

.left {
    left: 0;
}

.right {
    right: 0;
}
