// Colors
// -----------------------------------------------------------------------------

.primary,
.facebook,
.twitter,
.instagram,
.pinterest,
.linkedin {
	color:#fff;
}

.primary {
	background-color: @primary;

	a&:hover,
	a&:focus,
	a&:active,
	.button&:hover,
	.button&:focus,
	.button&:active {
		.background-color(@primary, @switch: light);
	}
}

.facebook {
	background-color: #314EA5;

	a&:hover,
	a&:focus,
	a&:active,
	.button&:hover,
	.button&:focus,
	.button&:active {
		.background-color(#314EA5, @switch: light);
	}
}

.twitter {
	background-color: #55ACEF;

	a&:hover,
	a&:focus,
	a&:active,
	.button&:hover,
	.button&:focus,
	.button&:active {
		.background-color(#55ACEF, @switch: light);
	}
}

.instagram {
	background-color: #EE4E33;

	a&:hover,
	a&:focus,
	a&:active,
	.button&:hover,
	.button&:focus,
	.button&:active {
		.background-color(#EE4E33, @switch: light);
	}
}

.pinterest {
	background-color: #D2172E;

	a&:hover,
	a&:focus,
	a&:active,
	.button&:hover,
	.button&:focus,
	.button&:active {
		.background-color(#D2172E, @switch: light);
	}
}

.linkedin {
	background-color: #0073CE;

	a&:hover,
	a&:focus,
	a&:active,
	.button&:hover,
	.button&:focus,
	.button&:active {
		.background-color(#0073CE, @switch: light);
	}
}
